# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Paws,Tails and Monsters.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Unity\Repos\Paws,Tails and Monsters\.idea\.idea.Paws,Tails and Monsters\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
